/target/*
target/

./target/*
/target/

EleganTime/EleganTime/target/*
EleganTime/EleganTime/.idea/
EleganTime/.idea/*
/.idea/*

EleganTime/target/*
EleganTime/.idea/
EleganTime/.idea/*
/.idea/*

./EleganTime/target/*
./EleganTime/.idea/
./EleganTime/.idea/*
/.idea/*

/EleganTime/target/*
/EleganTime/.idea/
/EleganTime/.idea/*
/.idea/*