* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #2b2b2b;
    padding: 10px;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    height: 75px;
    font-weight: bold;
    margin-left: 30px;
}

.menu-icons a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav {
    background-color: #333;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.admin-area {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.admin-button {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ffaa00;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.admin-button:hover {
    background-color: #ff9100;
}

footer {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}