/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: rgba(24, 24, 24, 0.9);
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    height: 75px;
    font-weight: bold;
    margin-left: 30px;
}

/* Contêiner Principal */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4faff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 90%;
    margin: 20px auto;
}

/* Estilos para a lista de imagens */
.image-list {
    position: absolute;
    top: 280px;
    right: 20px;
    width: 250px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Formulário */
.form-container {
    width: 60%;
    padding: 20px;
    margin-left: 0;
}

h2 {
    color: #ffaa00;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/* Labels e Inputs */
label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #ffaa00;
    outline: none;
}

textarea {
    resize: none;
    height: 80px;
}

/* Botões */
.btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #ffaa00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #ff9100;
    transform: translateY(-2px);
}

.cancel {
    background-color: #ff6767;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cancel:hover {
    background-color: #e55959;
    transform: translateY(-2px);
}

/* Contêiner de Imagem */
.image-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
