* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #181818ee;
    padding: 10px;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 75px;
    font-weight: bold;
    margin-left: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4faff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%px;
    width: 100%;
}

.form-container {
    width: 100%;
    padding: 20px;
    margin-left: 40px;
}

h2 {
    color: #ffaa00;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 60px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffaa00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #ff9100;
}

.cancel {
    background-color: #ff6767;
}

.cancel:hover {
    background-color: #e55959;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}