<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja de Relógios - Elegantime</title>
  <link rel="stylesheet" th:href="@{/css/areaAdmin.css}">
</head>

<body>
<header>
  <div class="top-bar">
    <div class="logo">
      <a th:href="@{/home}">
        <img th:src="@{/img/Elegantime.jpg}" alt="Logo Elegantime">
      </a>
    </div>
  </div>
</header>

<div class="admin-area">
  <h1>Área do Administrador</h1>

  <!-- Dados do Usuário -->
  <div class="user-info">
    <p th:text="'Usuário: ' + ${usuario.nome}"></p> <!-- Exibe o nome do usuário -->
    <p th:text="'Email: ' + ${usuario.email}"></p>   <!-- Exibe o email do usuário -->
    <p th:text="'Grupo: ' + ${usuario.grupo}"></p> <!-- Exibe as permissões/grupos do usuário -->
    <p th:text="'CPF: ' + ${usuario.cpf}"></p>      <!-- Aqui você pode personalizar a propriedade -->
  </div>

  <div class="button-container">
    <a th:href="@{/listaProduto}" class="admin-button">Listar Produtos</a>
    <a th:href="@{/listarUsuarios}" class="admin-button">Listar Usuários</a>
  </div>
</div>

<footer>
  <p>Entrega em até 48h - Frete Grátis!</p>
  <p>Política de Privacidade</p>
</footer>
</body>
</html>
