<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Relógios - Elegantime</title>
    <link rel="stylesheet" href="../static/css/areaUsuario.css">
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a href="index.html">
                    <img src="/img/Elegantime.jpg">
                </a>
            </div>
            <div class="menu-icons">
                <a>Perfil</a>
            </div>
        </div>
    </header>

    <div class="admin-area">
        <h1>Área do Estoquista</h1>
        <div class="button-container">
            <a href="/html/listaProduto.html" class="admin-button">Listar Produtos</a>
        </div>
    </div>

    <footer>
        <p>Entrega em até 48h - Frete Grátis!</p>
        <p>Política de Privacidade</p>
    </footer>
</body>

</html>