<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${origem == 'carrinho' ? 'Escolha o Endereço Padrão' : 'Selecione o Endereço de entrega'}"></title></head>
<body>
<div class="container">
  <h2 th:text="${origem == 'carrinho' ? 'Escolha o Endereço Padrão' : 'Selecione o Endereço de entrega'}"></h2>  <form action="/selecionarEndereco" method="post">
    <!-- Adiciona o token CSRF no formulário -->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

    <input type="hidden" name="origem" th:value="${origem}" />


    <div th:each="endereco : ${enderecos}">
      <!-- O radio button será marcado automaticamente se for o endereço principal -->
      <input type="radio" name="enderecoId" th:value="${endereco.id}"
             th:checked="${endereco.principal}" />
      <span th:text="${endereco}"></span> <!-- Aqui estamos chamando toString() -->

      <!-- Exibe se o endereço é principal ou não -->
      <span th:if="${endereco.principal}" style="color: green;">(Padrão)</span>
      <span th:if="${!endereco.principal}" style="color: red;">(Não Padrão)</span>

      <br/>
    </div>
    <button type="submit">Continuar</button>
  </form>
</div>
</body>
</html>
