<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Endereco.css">

  <title>Endereço de Entrega</title>
</head>
<body>
<h1>Endereço de Entrega</h1>
<!-- Usando th:action para corrigir a URL -->
<form th:action="@{/enderecos}" method="post">
  <!-- Campo hidden para enviar o clienteId -->
  <input type="hidden" name="clienteId" th:value="${cliente.id}" />

  <div>
    <label for="logradouro">Logradouro:</label>
    <input type="text" id="logradouro" name="logradouro" th:value="${cliente.logradouro}" required>
  </div>
  <div>
    <label for="numero">Número:</label>
    <input type="text" id="numero" name="numero" th:value="${cliente.numero}" required>
  </div>
  <div>
    <label for="complemento">Complemento:</label>
    <input type="text" id="complemento" name="complemento" th:value="${cliente.complemento}">
  </div>
  <div>
    <label for="bairro">Bairro:</label>
    <input type="text" id="bairro" name="bairro" th:value="${cliente.bairro}" required>
  </div>
  <div>
    <label for="cidade">Cidade:</label>
    <input type="text" id="cidade" name="cidade" th:value="${cliente.cidade}" required>
  </div>
  <div>
    <label for="uf">UF:</label>
    <input type="text" id="uf" name="uf" th:value="${cliente.uf}" required>
  </div>
  <div>
    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep" th:value="${cliente.cep}" required>
  </div>
  <div>
    <label for="enderecoEntrega">Endereço de Entrega:</label>
    <input type="text" id="enderecoEntrega" name="enderecoEntrega" th:value="${cliente.enderecoEntrega}" required>
  </div>
  <button type="submit">Salvar Endereço</button>
</form>
</body>
</html>
