<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Endereço</title>
  <link rel="stylesheet" th:href="@{/css/Endereco.css}">
</head>
<body>
<div class="container">
  <h2>Cadastro de Endereço</h2>
  <form action="/enderecos" method="post" th:action="@{/enderecos}">
    <!-- CSRF Token -->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

    <input type="hidden" name="clienteId" th:value="${cliente.idCliente}"/>

    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep" th:value="${cep}" required/>

    <label for="enderecoEntrega">Endereço de Entrega:</label>
    <input type="text" id="enderecoEntrega" name="enderecoEntrega" th:value="${enderecoEntrega}" required/>

    <label for="logradouro">Logradouro:</label>
    <input type="text" id="logradouro" name="logradouro" th:value="${logradouro}" required/>

    <label for="numero">Número:</label>
    <input type="text" id="numero" name="numero" th:value="${numero}" required/>

    <label for="complemento">Complemento:</label>
    <input type="text" id="complemento" name="complemento" th:value="${complemento}"/>

    <label for="bairro">Bairro:</label>
    <input type="text" id="bairro" name="bairro" th:value="${bairro}" required/>

    <label for="cidade">Cidade:</label>
    <input type="text" id="cidade" name="cidade" th:value="${cidade}" required/>

    <label for="uf">UF:</label>
    <input type="text" id="uf" name="uf" th:value="${uf}" required/>

    <button type="submit">Salvar</button>
  </form>

</div>
</body>
</html>
