<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script th:src="@{/js/home.js}" defer></script>
    <title>Loja de Relógios - Elegantime</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a th:href="@{/home}">
                    <img th:src="@{/img/Elegantime.jpg}" alt="Logo Elegantime">
                </a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Digite o que você procura">
                <button>Buscar</button>
            </div>
            <div class="menu-icons">
                <a th:href="@{/login}">Entrar ou Cadastrar</a>
                <a href="#" id="cartLink">Carrinho</a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Todas Categorias</a></li>
                <li><a href="#">Joias</a></li>
                <li><a href="#">Relógios Masculinos</a></li>
                <li><a href="#">Relógios Femininos</a></li>
                <li><a href="#">Presentes</a></li>
                <li><a href="#">Promoções</a></li>
            </ul>
        </nav>
    </header>

    <div id="cartModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Seu Carrinho</h2>
            <p>Aqui estão os itens que você adicionou ao carrinho.</p>
        </div>
    </div>

    <section class="products">
        <div class="product" th:each="product : ${products}">
            <img th:src="@{${product.imagens[0].caminho}}" th:alt="${product.nome}" alt="Nome do Produto">
            <h3 th:text="${product.nome}">Nome do Produto</h3>
            <p th:text="${product.preco}">R$ 0,00</p>
            <p th:text="'Em estoque: ' + ${product.quantidadeEmEstoque}">Em estoque: 0</p>
            <button th:onclick="'comprar(' + ${product.id_Produto} + ')'">Comprar</button>
        </div>
    </section>


    <footer>
        <p>Entrega em até 48h - Frete Grátis!</p>
        <p>Política de Privacidade</p>
    </footer>

</body>

</html>