<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script th:src="@{/js/home.js}" defer></script>
    <title>Loja de Relógios - Elegantime</title>
</head>
<body>
<header>
    <div class="top-bar">
        <div class="logo">
            <a th:href="@{/home}">
                <img th:src="@{/img/Elegantime.jpg}" alt="Logo Elegantime">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Digite o que você procura">
            <button>Buscar</button>
        </div>
        <div class="menu-icons">
            <a th:href="@{/login}">Entrar ou Cadastrar</a>

            <form th:action="@{/carrinho}" method="get" class="menu-icons">
                <input type="hidden" name="clienteId" th:value="${clienteId}">
                <button type="submit" class="menu-icons">Ir para Carrinho</button>

            </form>
            <!-- Link para o carrinho -->
        </div>
    </div>
</header>

<section class="products">
    <div class="product" th:each="product : ${products}">
        <img th:src="@{${product.imagens[0].caminho}}" th:alt="${product.nome}" alt="Nome do Produto">
        <h3 th:text="${product.nome}">Nome do Produto</h3>
        <p th:text="${product.preco}">R$ 0,00</p>
        <p th:text="'Em estoque: ' + ${product.quantidadeEmEstoque}">Em estoque: 0</p>

        <!-- Formulário de adição ao carrinho -->
        <form th:action="@{/adicionar/{produtoId}(produtoId=${product.id_Produto})}" method="post">
            <input type="number" name="quantidade" value="1" min="1" />
            <input type="hidden" name="clienteId" th:value="${clienteId}" />
            <button type="submit">Adicionar ao Carrinho</button>
        </form>
    </div>
</section>

<footer>
    <p>Entrega em até 48h - Frete Grátis!</p>
    <p>Política de Privacidade</p>
</footer>

</body>
</html>
