<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="../static/css/listaProduto.css">
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a href="index.html">
                    <img src="/img/Elegantime.jpg">
                </a>
            </div>
            <div class="menu-icons">
                <a>Perfil</a>
            </div>
        </div>
    </header>

    <div class="user-list-container">
        <a href="areaAdmin.html" class="back">← Voltar</a>
        <h2>Usuários</h2>
        <div class="new-user">
            <a href="/html/cadastroProduto.html" class="add-user">+ Novo Produto</a>
            <div class="search-container">
                <input type="text" placeholder="Pesquisar" class="search">
                <button class="search-button">Procurar</button>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Rolex Big 0</td>
                    <td>0</td>
                    <td>1.000</td>
                    <td>Inativo</td>
                    <td><a href="/html/cadastroProduto.html" class="alterar"> Alterar</a>
                        <a href="/html/cadastroProduto.html" class="visualizar"> Visualizar</a>
                        <input type="checkbox" class="ativo"> Ativo
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Rolex P. Diddy</td>
                    <td>1</td>
                    <td>0</td>
                    <td>Ativo</td>
                    <td><a href="/html/cadastroProduto.html" class="alterar"> Alterar</a>
                        <a href="/html/cadastroProduto.html" class="visualizar"> Visualizar</a>
                        <input type="checkbox" class="ativo"> Ativo
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <footer>
        <p>Entrega em até 48h - Frete Grátis!</p>
        <p>Política de Privacidade</p>
    </footer>
</body>

</html>