<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<a th:href="@{/home}" class="back-to-home">← Voltar para Home</a>

<div class="login-container">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div class="input-group">
            <label for="username">Usuário</label>
            <input type="text" id="username" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
</div>
</body>
</html>
